<ion-header>
  <ion-toolbar>
    <ion-title>mon panier</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-gray">
  <ng-container *ngIf="items.all.length<1" >
    <div class="noitem">
      <img  src="assets/images/empty-cart.svg" />
      <h1>Oops!</h1>
    </div>
  </ng-container>

  <ion-list *ngIf="items.all.length>0" >
    <ion-row class="rrow" *ngFor="let product of items.all;let i = index;" class="ion-no-padding mt-1 bg-white">
      <!-- burger -->
        <ng-container *ngIf="product.burger">
          <ion-col size="3">
            <img src="data:image/png;base64,{{ product.burger.image }}" style="height: 100%;"/>
        </ion-col>
        <ion-col size="9">
            <h4 class="brand myColor">{{product.burger?.nom}} <span (click)="removeToCart(product.burger)" style="float:right; font-size: 1.4rem;"><ion-icon name="close"></ion-icon></span></h4>
            <h5 class="amount">{{product.burger?.prix}}</h5>
            
            <ion-row class="left">
              <ion-col size="12" style="display: flex; align-items: center;">
                <p class="ion-no-margin">Quantité</p> 
                <p class="qty-bar ion-no-margin" style="padding: 0px 10px;"> <ion-icon (click)="decreaseCartQty(product.burger,product.quantite)" style="margin-right:5px;" class="theme-color-shade"  name="remove-circle"></ion-icon>{{product.quantite}}<ion-icon (click)="increaseCartQty(product.burger,product.quantite)"  style="margin-left:5px;" class="theme-color-shade" name="add-circle"></ion-icon></p>
              </ion-col>  
            </ion-row>
        </ion-col>
        </ng-container>
        <!-- menu -->
        <ng-container *ngIf="product.menu">
          <ion-col size="3">
            <img src="data:image/png;base64,{{ product.menu.image }}" style="height: 100%;"/>
        </ion-col>
        <ion-col size="9">
            <h4 class="brand myColor">{{product.menu?.nom}} <span (click)="removeToCart(product.menu)" style="float:right; font-size: 1.4rem;"><ion-icon name="close"></ion-icon></span></h4>
            <h5 class="amount">{{product.menu?.prix}}</h5>
            
            <ion-row class="left">
              <ion-col size="12" style="display: flex; align-items: center;">
                <p class="ion-no-margin">Quantité</p> 
                <p class="qty-bar ion-no-margin" style="padding: 0px 10px;"> <ion-icon (click)="decreaseCartQty(product.menu,product.quantite)"  style="margin-right:5px;" class="theme-color-shade"  name="remove-circle"></ion-icon>{{product.quantite}}<ion-icon (click)="increaseCartQty(product.menu,product.quantite)"  style="margin-left:5px;" class="theme-color-shade" name="add-circle"></ion-icon></p>
              </ion-col>  
            </ion-row>
        </ion-col>
        </ng-container>
    </ion-row>
  </ion-list>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light" *ngIf="items.all.length > 0" class="bg-gray">
    <ion-row class="footer-bar">
      <ion-col class="p-12-15">
        <div>
          <h1 class="heading">Order Info</h1>
          <h5 class="mt-1">Total Price: {{prix}} FCFA</h5>
        </div>
        <ion-button class="tahir-button" expand="full" > Place Order </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

