<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar class="tahir-button">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="catalogue">
          <ion-icon name="home"></ion-icon>
          <ion-label>Accueil</ion-label>
        </ion-item>
      </ion-menu-toggle>
     <ng-container *ngIf="isclient">
      
      <ion-menu-toggle>
        <ion-item routerLink="mes-commandes" *ngIf="isLogged == true">
          <ion-icon name="pricetags-sharp"></ion-icon>
          <ion-label>Mes commandes</ion-label>
        </ion-item>
      </ion-menu-toggle>
     </ng-container>
     <ion-menu-toggle *ngIf="isclient || isLogged == true || isLogged == false">
      <ion-item routerLink="panier">
        <ion-icon name="cart-sharp"></ion-icon>
        <ion-label>Mon panier</ion-label>
      <ion-badge class="ion-badge">{{count}}</ion-badge>
      </ion-item>
    </ion-menu-toggle>
     <ng-container *ngIf="islivreur">
         <ion-menu-toggle>
        <ion-item routerLink="livreur">
          <ion-icon name="car-outline"></ion-icon>
          <ion-label>Livraison</ion-label>
        </ion-item>
      </ion-menu-toggle>
     </ng-container>
      <ion-menu-toggle>
        <ion-item routerLink="login" *ngIf="isLogged == false">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Connexion</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logOut()" *ngIf="isLogged == true">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Deconnexion</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
