::ng-deep {

    zxing-scanner {
      /* Root component needs to have height: 100% */
      height: 100%;
      /* Optional : you probably want full-width as well for landscape orientation or tablets */
      width: 100%;
  
    }
  
    video {
      /* !important because component already sets height property */
      height: 100% !important;
    }
  }