<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogue">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="catalogue" *ngIf="isLogged==true">
      <ion-icon name="pricetags-sharp"></ion-icon>
      <ion-label>Mes commandes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="catalogue">
      <ion-icon name="cart-sharp"></ion-icon>
      <ion-label>Mon panier</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>