<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogue">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ng-container *ngIf="isclient">
      <ion-tab-button tab="mes-commandes" *ngIf="isLogged == true">
        <ion-icon name="pricetags-sharp"></ion-icon>
        <ion-label>Mes commandes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="catalogue">
        <ion-icon name="cart-sharp"></ion-icon>
        <ion-label>Mon panier</ion-label>
      </ion-tab-button>
    </ng-container>
    <ng-container *ngIf="islivreur">
      <ion-tab-button tab="livreur">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>livraison</ion-label>
      </ion-tab-button>
    </ng-container>

    <ion-tab-button tab="login" *ngIf="isLogged == false">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logOut()" *ngIf="isLogged == true">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Deconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
