<ion-header> 
  <ion-toolbar>
    <ion-title>CATALOGUE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="catalogue==undefined">
  <ion-content>
    <app-loader></app-loader>
  </ion-content>
</ng-container>
<ng-container *ngIf="catalogue!=undefined">
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img class="img" width="500" src="assets/images/slide.jpg" alt="" />
        </ion-slide>
        <ion-slide>
          <img class="img" width="500" src="assets/images/burg1.jpg" alt="" />
        </ion-slide>
        <ion-slide>
          <img class="img" width="500" src="assets/images/burg2.jpg" alt="" />
        </ion-slide>
        <ion-slide>
          <img class="img" width="500" src="assets/images/burg3.jpeg" alt="" />
        </ion-slide>
        <ion-slide>
          <img class="img" width="500" src="assets/images/burg4.jpg" alt="" />
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="burger">
      <ion-label>Burger</ion-label>
    </ion-segment-button>
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="prix" (click)="presentAlert()">
      <ion-label>Prix</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ng-container *ngFor="let cat of catalogue">
    <app-card [cat]="cat"></app-card>
  </ng-container>
</ion-content>
</ng-container>

