<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mes-commandes"></ion-back-button>
    </ion-buttons>
    <ion-title>details-cmd</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="all==undefined">
  <ion-content>
    <app-loader></app-loader>
  </ion-content>
</ng-container>
<ng-container *ngIf="all!=undefined">
  <ion-content>
  <ion-list>
    <ion-list-header> Total Commande: <span style="color:  #D4401F;"> {{montant}}</span> </ion-list-header>
    <ng-container *ngFor="let product of all">
      <!-- burger -->
      <ng-container *ngIf="product.burger">
        <ion-item>
          <ion-avatar slot="start">
            <img src="data:image/png;base64,{{ product.burger.image }}" />
          </ion-avatar>
          <ion-label>
            <h2>{{product.burger.nom}}</h2>
            <h2>{{product.burger.prix}} PU</h2>
            <h2>{{product.quantite}}</h2>
            <h2>{{product.prix}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
      <!-- menu -->
      <ng-container *ngIf="product.menu">
        <ion-item>
          <ion-avatar slot="start">
            <img src="data:image/png;base64,{{ product.menu.image }}" />
          </ion-avatar>
          <ion-label>
            <h2>{{product.menu.nom}}</h2>
            <h2>{{product.menu.prix}} PU</h2>
            <h2>{{product.quantite}}</h2>
            <h2>{{product.prix}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
      <!-- boisson taille -->
      <ng-container *ngIf="product.boissonTaille">
        <ion-item>
          <ion-avatar slot="start">
            <img src= "{{pathImage}}juice/{{
              product.boissonTaille.boisson.nom | lowercase
            }}.png" />
          </ion-avatar>
         
          <ion-label>
            <h2>
              {{product.boissonTaille.boisson.nom}}-{{product.boissonTaille.taille.libelle
              | lowercase}}
            </h2>
            <h2>{{product.boissonTaille.taille.prix}} PU</h2>
            <h2>{{product.quantite}}</h2>
            <h2>{{product.prix}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
      <!-- portion frite -->
      <ng-container *ngIf="product.portionFrite">
        <ion-item>
          <ion-avatar slot="start">
            <img src= "{{pathImage}}frites/{{
              product.portionFrite.nom | lowercase
            }}.png" />
          </ion-avatar>
          <ion-label>
            <h2>
              {{product.portionFrite.nom}} </h2>
              <h2>{{product.portionFrite.prix}} PU</h2>
            <h2>{{product.quantite}}</h2>
            <h2>{{product.prix}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
</ng-container>

