<ion-header
    parallax 
    imageUrl ="data:image/png;base64,{{produit?.burger.image}}"
   height ="500"
   bgPosition ="top"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
    <ion-title>Details produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-justify">
<ng-container *ngIf="produit!=undefined">
  <ng-container *ngIf="produit.burger">
      <div class="info-sub">
        <ion-card-title style="color: #d4401f; margin-right: 27%"
          >{{produit?.burger.nom|uppercase}}</ion-card-title
        >
        <ion-card-subtitle>{{produit?.burger.prix}} FCFA</ion-card-subtitle>
        <ng-container class="ion-text-center">
          <ion-button class="tahir-button">J'achete</ion-button>
        </ng-container>
        <div class="describe mt-5 d-flex justify-content-around">
          <ion-text>
            <h4>{{produit?.burger.description}}</h4>
          </ion-text>
        </div>
      </div>
  </ng-container>
  <ng-container *ngIf="produit.menu">
   
      <img
        class="img-details mx-auto mt-2"
        src="data:image/png;base64,{{produit?.menu.image}}"
        width="350"
        height="300"
      />
      <div class="info-sub">
        <ion-card-title style="color: #d4401f; margin-right: 27%"
          >{{produit?.menu.nom|uppercase}}</ion-card-title
        >
        <ion-card-subtitle>{{produit?.menu.prix}} FCFA</ion-card-subtitle>
        <ng-container class="ion-text-center">
          <ion-button class="tahir-button">J'achete</ion-button>
        </ng-container>
        <div class="describe mt-5 d-flex justify-content-around">
          <ion-text>
            <h4>{{produit?.menu.description}}</h4>
          </ion-text>
        </div>
      </div>
  </ng-container>
</ng-container>
</ion-content>

